.about {
	overflow: clip;

	> .container {
		padding-right: 0;
	}

	&__content {
		display: flex;
		gap: 69px;

		@media (max-width: 960px) {
			gap: 118px;
		}

		@media (max-width: 760px) {
			flex-direction: column;
			gap: 24px;
		}
	}

	&__left {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 236px;

		@media screen and (max-width: 960px) {
			width: 232px;
		}
	}

	.h2 {
		width: fit-content;
		text-wrap: balance;
	}

	.swiper-controls {
		align-items: center;
		gap: 16px;
	}

	.swiper-about {
		overflow: visible;
		clip-path: inset(-100vw -100vw -100vw 0);

		@media (max-width: 760px) {
			clip-path: none;
		}

		.swiper-wrapper {
			margin-left: -414px;

			@media screen and (max-width: 960px) {
				margin-left: -346px;
			}

			@media (max-width: 760px) {
				margin-left: 0;
				width: calc(100vw - 20px);
			}
		}

		.swiper-slide {
			border-radius: 24px;
			height: 450px;
			width: 300px;
			overflow: hidden;
			position: relative;

			@media screen and (max-width: 960px) {
				height: 350px;
				width: 250px;
			}

			@media (max-width: 480px) {
				height: 280px;
			}

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				top: 50%;
				background: linear-gradient(180deg, rgba(84, 140, 12, 0) 0%, rgba(84, 140, 12, 1) 100%);
				z-index: 2;
				opacity: 0;
				transition: opacity 0.6s;
			}

			&__text {
				display: flex;
				flex-direction: column;
				gap: 8px;
				z-index: 3;
				position: absolute;
				bottom: 32px;
				left: 32px;
				right: 32px;
				color: $color-bg;
				text-wrap: pretty;
				opacity: 0;
				transform: translateY(60%);
				transition: opacity 0.6s, transform 0.6s;
				text-wrap: wrap;

				@media (max-width: 640px) {
					bottom: 24px;
					left: 24px;
					right: 24px;
				}
			}

			&-active {
				&::after {
					opacity: 1;
				}

				.swiper-slide__text {
					opacity: 1;
					transform: translateY(0);
				}
			}

			@media (max-width: 760px) {
				&::after {
					opacity: 1;
				}

				.swiper-slide__text {
					opacity: 1;
					transform: translateY(0);
				}
			}
		}
	}
}
