.banner{
    > .container{
        border-radius: 24px;
        overflow: hidden;
        position: relative;
    }

    .video{
        display: block;
        position: absolute;
        top: -64px;
        width: 1160px;
        z-index: -1;
        left: 0;
        right: 0;
    }

    &__content{
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 685px;
        padding: 64px 0 64px 64px;
        color: $color-bg;

        > .lead{
            width: 426px;
        }
    }

    &__certif{
        display: flex;
        flex-direction: column;
        gap: 4px;
        color: $color-bg;
        width: fit-content;
        position: absolute;
        bottom: 64px;
        right: 64px;

        span{
            &:first-of-type{
                text-align: right;
            }
        }
    }
}