<section class="about">
	<div class="container">
		<div class="h2">Collagen — это</div>
		<div class="swiper-controls desktop">
			<button class="swiper-button-prev">
				<svg width="48" height="20" viewBox="0 0 48 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g clip-path="url(#clip0_116_1417)">
						<rect width="20" height="48" rx="10" transform="matrix(4.37114e-08 1 1 -4.37114e-08 0 0)" fill="#F6F6F6" />
						<path d="M14 0V0C14 5.52285 9.52285 10 4 10V10" stroke="#2E2D2B" stroke-width="2" />
						<path d="M14.125 20V20C14.125 14.4772 9.64785 10 4.125 10H4H58" stroke="#2E2D2B" stroke-width="2" />
					</g>
					<defs>
						<clipPath id="clip0_116_1417">
							<rect width="20" height="48" rx="10" transform="matrix(4.37114e-08 1 1 -4.37114e-08 0 0)" fill="white" />
						</clipPath>
					</defs>
				</svg>
			</button>
			<button class="swiper-button-next">
				<svg width="48" height="20" viewBox="0 0 48 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g clip-path="url(#clip0_116_1420)">
						<rect x="48" width="20" height="48" rx="10" transform="rotate(90 48 0)" fill="#548C0C" />
						<path d="M34 0V0C34 5.52285 38.4772 10 44 10V10" stroke="white" stroke-width="2" />
						<path d="M33.875 20V20C33.875 14.4772 38.3522 10 43.875 10H44H-10" stroke="white" stroke-width="2" />
					</g>
					<defs>
						<clipPath id="clip0_116_1420">
							<rect x="48" width="20" height="48" rx="10" transform="rotate(90 48 0)" fill="white" />
						</clipPath>
					</defs>
				</svg>
			</button>
		</div>
		<div class="swiper swiper-about">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="./assets/images/components/slider/slide-1.jpg" alt="Slide image" />
					<div class="swiper-slide__text">
						<div class="h3">Восстановление</div>
						<span>упругости и эластичности кожи</span>
					</div>
				</div>
				<div class="swiper-slide">
					<img src="./assets/images/components/slider/slide-2.jpg" alt="Slide image" />
					<div class="swiper-slide__text">
						<div class="h3">Разглаживание</div>
						<span>морщин и улучшение текстуры кожи</span>
					</div>
				</div>
				<div class="swiper-slide">
					<img src="./assets/images/components/slider/slide-3.jpg" alt="Slide image" />
					<div class="swiper-slide__text">
						<div class="h3">Поддержание</div>
						<span>здоровья суставов</span>
					</div>
				</div>
				<div class="swiper-slide">
					<img src="./assets/images/components/slider/slide-4.jpg" alt="Slide image" />
					<div class="swiper-slide__text">
						<div class="h3">Укрепление</div>
						<span>волос и ногтей</span>
					</div>
				</div>
				<div class="swiper-slide">
					<img src="./assets/images/components/slider/slide-5.jpg" alt="Slide image" />
					<div class="swiper-slide__text">
						<div class="h3">Повышение</div>
						<span>увлажненности и сияния кожи</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
