<section class="banner">
	<div class="container">
		<video class="video" autoplay muted loop>
			<source src="./assets/video/-32fb-4601-b419-64d7a045423b.mp4" type="video/mp4" />
		</video>
		<div class="banner__content">
			<div class="h1">Восстановите молодость&nbsp;и&nbsp;красоту с Collagen</div>
			<div class="lead">Уникальный коллагеновый комплекс, который возвращает коже упругость, сияние и здоровый вид. Всего 1 стик в день — и вы снова почувствуете себя молодой и красивой!</div>
			<button class="btn btn--order">
				<span>Заказать Collagen</span>
				<svg width="48" height="20" viewBox="0 0 48 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g clip-path="url(#clip0_116_1406)">
						<rect x="48" width="20" height="48" rx="10" transform="rotate(90 48 0)" fill="white" />
						<path d="M34 0V0C34 5.52285 38.4772 10 44 10V10" stroke="#548C0C" stroke-width="2" />
						<path d="M33.875 20V20C33.875 14.4772 38.3522 10 43.875 10H44H-10" stroke="#548C0C" stroke-width="2" />
					</g>
					<defs>
						<clipPath id="clip0_116_1406">
							<rect x="48" width="20" height="48" rx="10" transform="rotate(90 48 0)" fill="white" />
						</clipPath>
					</defs>
				</svg>
			</button>
		</div>
		<div class="banner__certif">
			<span>Сертификат:</span>
			<span>СГР №AM.01.01 .01.003.R.00 o47 4.06.24</span>
		</div>
	</div>
</section>
