body {
	font-family: 'TildaSans-VF', sans-serif;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: -0.32px;
	background-image: url('./../assets/images/pages/main/bg-lines.png');
	background-repeat: no-repeat;
	background-size: cover;

	&.locked {
		overflow: hidden;
	}

	@media screen and (max-width: 960px) {
		background-image: url('./../assets/images/pages/main/bg-lines-960.png');
	}

	@media screen and (max-width: 480px) {
		background-image: url('./../assets/images/pages/main/bg-lines-320.png');
	}
}

section:first-of-type {
	margin-top: 84px;

	@media screen and (max-width: 640px) {
		margin-top: 68px;
	}

	@media screen and (max-width: 640px) {
		margin-top: 68px;
	}

	@media screen and (max-width: 480px) {
		margin-top: 84px;
	}
}

.mobile {
	display: none;
}

.desktop {
	display: flex;
}

@media screen and (max-width: 760px) {
	.desktop {
		display: none;
	}

	.mobile {
		display: flex;
	}
}

.container {
	margin: 0 auto;
	padding: 0 10px;
	width: 1160px;

	@media screen and (max-width: 1200px) {
		width: 100%;
	}
}

.logo {
	display: block;
	width: 93px;
	height: 36px;
	flex-shrink: 0;

	svg {
		width: 100%;
		height: 100%;
	}
}

section + section {
	margin-top: 96px;

	@media screen and (max-width: 960px) {
		margin-top: 64px;
	}
}

// Links
a {
	transition: color 0.2s;

	&:hover,
	&:focus,
	&:active {
		color: $color-accent;
	}
}

// Swiper
.swiper-button {
	&-next,
	&-prev {
		width: 48px;
		height: 20px;
		position: static;
		margin-top: unset;

		&::after {
			content: none;
		}
	}
}

.swiper-wrapper {
	width: fit-content;
}