body {
	font-family: 'TildaSans-VF', sans-serif;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: -0.32px;
	background-image: url('./../assets/images/pages/main/bg-lines.png');
	background-repeat: no-repeat;
	background-size: cover;
}

section:first-of-type {
	margin-top: 84px;
}

.mobile {
	display: none;
}

@media (max-width: 640px) {
	.desktop {
		display: none;
	}

	.mobile {
		display: flex;
	}
}

.container {
	margin: 0 auto;
	padding: 0 10px;
	width: 1160px;

	@media (max-width: 960px) {
		width: 940px;
	}
}


// @media (min-width: 1920px) {
// 	html {
// 		font-size: 10px;
// 	}
// }

// @media (max-width: 48em) {
// 	html {
// 		font-size: 5px;
// 		font-size: 1.5625vw;
// 		font-size: calc((100 / 375) * 5vw);
// 		-webkit-text-size-adjust: none;
// 	}

// 	body {
// 		-webkit-text-size-adjust: none;
// 	}

// 	section {
// 		margin-bottom: 20rem;
// 	}

// 	.container {
// 		padding: 0 4rem;
// 		width: 100%;
// 	}
// }

.logo {
	display: block;
	width: 93px;
	height: 36px;

	svg {
		width: 100%;
		height: 100%;
	}
}

section + section {
	margin-top: 96px;
}

// Headings
.h1 {
	font-family: 'Gropled-Bold', sans-serif;
	font-size: 64px;
	line-height: 90%;

	@media (max-width: 960px) {
		font-size: 32px;
		line-height: 100%;
	}
}

.h2 {
	font-family: 'Gropled-Bold', sans-serif;
	font-size: 40px;
	line-height: 95%;

	@media (max-width: 960px) {
		font-size: 28px;
		line-height: 100%;
	}
}

.h3 {
	font-family: 'Gropled-Bold', sans-serif;
	font-size: 32px;
	line-height: 100%;

	@media (max-width: 960px) {
		font-size: 24px;
		line-height: 100%;
	}
}

.h3 {
	font-family: 'Gropled-Bold', sans-serif;
	font-size: 24px;
	line-height: 110%;

	@media (max-width: 960px) {
		font-size: 20px;
		line-height: 100%;
	}
}

.lead {
	font-family: 'TildaSans-VF', sans-serif;
	font-weight: 500;
	line-height: 140%;
	font-size: 21px;
	letter-spacing: -0.63px;

	@media (max-width: 960px) {
		font-size: 18px;
		line-height: 120%;
	}
}

.note {
	font-family: 'TildaSans-VF', sans-serif;
	font-weight: 400;
	line-height: 100%;
	font-size: 12px;
}

// Buttons
.btn {
	cursor: pointer;
	font-family: 'Gropled-Bold', sans-serif;
	font-size: 18px;
	line-height: 110%;
	border-radius: 40px;
	padding: 16px 24px;
	background-color: $color-accent;
	color: $color-bg;
	transition: opacity 0.2s;
	width: fit-content;

	@media (max-width: 960px) {
		font-size: 16px;
		padding: 16px 16px;
	}

	&:hover,
	&:focus,
	&:active {
		opacity: 0.8;
	}

	&--header {
		font-family: 'TildaSans-VF', sans-serif;
		font-size: 16px;
		padding: 8px 16px;
		height: 27px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&--order {
		display: flex;
		gap: 16px;
		padding: 16px 16px 16px 24px;

		svg {
			width: 48px;
			height: 20px;
		}
	}

	&--submit,
	&--connect {
		display: flex;
		gap: 8px;
		align-items: center;
		padding: 16px 16px 16px 24px;

		svg {
			width: 48px;
			height: 20px;
		}
	}

	&--submit {
		background-color: $color-bg;
		color: $color-font;
	}

	&--connect {
		background-color: $color-accent;
		color: $color-bg;
	}
}

// Links
a {
	transition: color 0.2s;

	&:hover,
	&:focus,
	&:active {
		color: $color-accent;
	}
}

// Swiper
.swiper-button {
	&-next,
	&-prev {
		width: 48px;
		height: 20px;
		position: static;
		margin-top: unset;

		&::after {
			content: none;
		}
	}
}

.swiper-wrapper {
	width: fit-content;
}

// Checkbox
.checkbox-wrapper {
	position: relative;
	display: inline-flex;
	align-items: center;
	cursor: pointer;

	.checkbox-input {
		display: none;
	}

	.checkbox-icon {
		display: inline-flex;
		width: 24px;
		height: 24px;
		justify-content: center;
		align-items: center;
		position: relative;
	}

	.unchecked-icon,
	.checked-icon {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: opacity 0.3s ease;
		opacity: 0;
		width: 24px;
		height: 24px;
	}

	.checkbox-input:checked + .checkbox-icon .checked-icon {
		opacity: 1;
	}

	.checkbox-input:not(:checked) + .checkbox-icon .unchecked-icon {
		opacity: 1;
	}
}
