@font-face {
	font-family: 'TildaSans-VF';
	src: url('../assets/fonts/TildaSans-VF.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'TildaSans-VF';
	src: url('../assets/fonts/TildaSans-VF.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Gropled-Bold';
	src: url('../assets/fonts/Gropled-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}