@import './fonts';
@import './vars';
@import './reset';
@import './common';

@import './components/footer';
@import './components/header';
@import './components/banner';
@import './components/about';
@import './components/form';
@import './components/contacts';